@import 'movie-poster';
@import 'movies-list';
@import 'movie-page/movie-page';
@import 'reviews/reviews';
@import 'rating';
@import 'discussion-page/discussion';

.content {
    @include fluid-container;
}

@media (min-width: $breakpoint-desktop) {
    .content {
        padding-top: $grid-base * 1.5;
        padding-bottom: $grid-base * 2;
    }
}

@media (max-width: $breakpoint-mobile) {
    .content {
        padding-top: $grid-base;
        padding-bottom: $grid-base;
    }
}