.movies-list {
    display: grid;
    gap: $grid-base * 2;

    .movie-poster {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

        &_image {
            height: 100%;
        }

        &:hover {
            box-shadow: 2px 2px 8px rgba(0, 0, 0, .75);
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .movies-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: $breakpoint-mobile) {
    .movies-list {
        grid-template-columns: 1fr 1fr;
    }
}