.review-form {
    display: flex;
    flex-direction: column;
    gap: $grid-base;

    &_buttons {
        display: flex;
        column-gap: $grid-base;
        align-items: center;
        font-size: $font-size-large;
    }

    &_submit {
        @extend .site-button;

        &.edit {
            width: auto;
            background: none;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .review-form {
        &_submit {
            width: 20%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .review-form {
        &_buttons {
            justify-content: end;
        }
    }
}